@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-image: url(/public/bg-pattern.svg);
  background-color:  hsl(230, 100%, 99%);
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Manrope", sans-serif;
  padding: 3rem 0;
}
html{
  font-size: 15px;
}
